body {
    background: white;
    font-family: Georgia;
    font-size: 12pt;
}

h1 {
	font-size: 16pt;
	font-family: Georgia;
	line-height: 1em;
	font-style: bold;

}

.note {
	font-size: 12pt;
	font-family: Helvetica;
	align-content: center;
	line-height: 1em;
	background-color: whitesmoke;

}

.poetry {
	font-size: 12pt;
	font-style: italic;
	line-height: 1em;
}




